.mapa-page{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
}

.header{
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;

}

.mapa-container{
  flex-grow: 1;
  position: relative;
}

